In [1]:
!pip install pip --upgrade
!pip install pymysql
!pip install sqlalchemy

Requirement already satisfied: pip in /home/jean/.pyenv/versions/3.8.6/envs/reestimator/lib/python3.8/site-packages (21.2.4)
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 324 kB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.23-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.5 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.1 sqlalchemy-1.4.23

In [2]:
import pymysql
import pandas as pd
import numpy as np
import sqlalchemy
import gc
engine =sqlalchemy.create_engine(
        sqlalchemy.engine.url.URL.create(
        drivername="mysql+pymysql",
        username='Estimators',  # e.g. "my-database-user"
        password='Estimator2021',  # e.g. "my-database-password"
        host='34.77.88.127',  # e.g. "127.0.0.1"
        port=3306,  # e.g. 3306
        database='Housing_France',  # e.g. "my-database-name"
    ))

conn = engine.connect().execution_options(stream_results=True)

In [4]:
# Import DataFrame based on query
querystring="""Select * from data_working Limit 10"""
df = pd.read_sql(querystring, conn)
df.head(10)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1,2016-01-08,1,Vente,40000,77,,RUE TONY REVILLON,0560,1750,...,Appartement,50,2,,,,,0,4.840606,46.304486
1,2016-2,2016-01-11,1,Vente,1677,5246,,LES BROTTEAUX,B011,1160,...,Local industriel. commercial ou assimilé,0,0,S,sols,,,838,5.323666,46.040803
2,2016-3,2016-01-08,1,Vente,7915000,32,,BD ST NICOLAS,3430,1000,...,Local industriel. commercial ou assimilé,3836,0,S,sols,,,1151,5.234834,46.204895
3,2016-4,2016-01-08,1,Vente,90000,5156,,PELUS,B203,1560,...,Maison,150,6,S,sols,,,1220,5.059020,46.386697
4,2016-6,2016-01-04,1,Vente,203700,5149,,AU BOURG,B014,1190,...,Maison,98,4,S,sols,,,500,4.996678,46.383446
5,2016-6,2016-01-04,1,Vente,203700,5149,,AU BOURG,B014,1190,...,Maison,98,4,AG,terrains d'agrément,,,750,4.996678,46.383446
6,2016-7,2016-01-09,1,Vente,147000,205,,RUE DE LA VILLE,0031,1340,...,Maison,70,2,S,sols,,,464,5.161898,46.290693
7,2016-8,2016-01-12,1,Vente,95000,580,,RTE DU PETIT MONTATIN,0295,1340,...,Maison,91,2,S,sols,,,921,5.156324,46.309770
8,2016-9,2016-01-15,1,Vente,273150,65,,LOT PRES MICHEL,A014,1340,...,Maison,113,4,S,sols,,,1125,5.181398,46.370973
9,2016-10,2016-01-15,1,Vente,75000,5083,,LA VILLE,B135,1370,...,Maison,120,3,S,sols,,,50,5.351734,46.244752

In [7]:
df['code_type_local'].head(1)

0    2
Name: code_type_local, dtype: int64

In [6]:
df.columns

Index(['id_mutation', 'date_mutation', 'numero_disposition', 'nature_mutation',
       'valeur_fonciere', 'adresse_numero', 'adresse_suffixe',
       'adresse_nom_voie', 'adresse_code_voie', 'code_postal', 'code_commune',
       'nom_commune', 'code_departement', 'ancien_code_commune',
       'ancien_nom_commune', 'id_parcelle', 'ancien_id_parcelle',
       'numero_volume', 'lot1_numero', 'lot1_surface_carrez', 'lot2_numero',
       'lot2_surface_carrez', 'lot3_numero', 'lot3_surface_carrez',
       'lot4_numero', 'lot4_surface_carrez', 'lot5_numero',
       'lot5_surface_carrez', 'nombre_lots', 'code_type_local', 'type_local',
       'surface_reelle_bati', 'nombre_pieces_principales',
       'code_nature_culture', 'nature_culture', 'code_nature_culture_speciale',
       'nature_culture_speciale', 'surface_terrain', 'longitude', 'latitude'],
      dtype='object')

In [8]:
import pymysql
import pandas as pd
import numpy as np
import sqlalchemy
import gc
engine =sqlalchemy.create_engine(
        sqlalchemy.engine.url.URL.create(
        drivername="mysql+pymysql",
        username='Estimators',  # e.g. "my-database-user"
        password='Estimator2021',  # e.g. "my-database-password"
        host='34.77.88.127',  # e.g. "127.0.0.1"
        port=3306,  # e.g. 3306
        database='Housing_France',  # e.g. "my-database-name"
    ))

conn = engine.connect().execution_options(stream_results=True)    

class dloading  :
#Load Libraries and Create engine Connection

    def load_data_chunk(table_name,chunksize):

        frame = pd.DataFrame()
        for chunk_dataframe in pd.read_sql(
                f"""Select * from {table_name}""", conn, chunksize=chunksize):
                print(f"Got dataframe w/{len(chunk_dataframe)} rows")
                frame= frame.append(chunk_dataframe)

        return frame

    def get_random_rows(table_name, numrows):
        conn = engine.connect().execution_options(stream_results=True)
        df = pd.read_sql(f"""SELECT * FROM {table_name} dm ORDER BY RAND() LIMIT {numrows};""",conn)
        return df

    def get_all_rows(table_name):
        df = pd.read_sql(f"""SELECT * FROM {table_name} """,conn)
        return df

    def get_num_rows(table_name, rownums):
        df = pd.read_sql(f"""SELECT * FROM {table_name} Limit {rownums} """, conn)
        return df

    def show_tables():
        engine2 =sqlalchemy.create_engine(
        sqlalchemy.engine.url.URL.create(
        drivername="mysql+pymysql",
        username='Estimators',  # e.g. "my-database-user"
        password='Estimator2021',  # e.g. "my-database-password"
        host='34.77.88.127',  # e.g. "127.0.0.1"
        port=3306,  # e.g. 3306
        database='Housing_France',  # e.g. "my-database-name"
        ))
        conn2 = engine.connect().execution_options(stream_results=True)
        df = pd.read_sql("""SELECT TABLE_NAME FROM information_schema.tables where TABLE_SCHEMA = 'Housing_France'""",conn2)
        return df

    def data_to_sql(df, tablename, if_exists):
        """Export Data to Sql, if exists takes one of the two strings :  ['replace','append'] """
        df.to_sql(name=f'{str(tablename)}', con=conn, if_exists=f'{if_exists}', index=True)
        return print(f"the table {str(tablename)} was successfully loaded to DB")

In [9]:
print(dloading.get_num_rows('data',1000))

    id_mutation date_mutation  numero_disposition nature_mutation  \
0        2016-1    2016-01-08                   1           Vente
1        2016-2    2016-01-11                   1           Vente
2        2016-2    2016-01-11                   1           Vente
3        2016-2    2016-01-11                   1           Vente
4        2016-2    2016-01-11                   1           Vente
..          ...           ...                 ...             ...
995    2016-401    2016-03-01                   1           Vente
996    2016-402    2016-03-04                   1           Vente
997    2016-403    2016-02-12                   1           Vente
998    2016-404    2016-02-17                   1           Vente
999    2016-404    2016-02-17                   1           Vente

     valeur_fonciere  adresse_numero adresse_suffixe   adresse_nom_voie  \
0              40000              77                  RUE TONY REVILLON
1               1677               0                      LES BROTTEAUX
2               1677               0                      LES BROTTEAUX
3               1677               0                      LES BROTTEAUX
4               1677            5246                      LES BROTTEAUX
..               ...             ...             ...                ...
995           143000             590                   QUAI BOUCHACOURT
996             1442               0                        LA RONZIERE
997           255000               6                     RUE DES  HAYES
998            27000               0                          PRE POBEL
999            27000               0                              VACON

    adresse_code_voie  code_postal  ...  \
0                0560         1750  ...
1                B011         1160  ...
2                B011         1160  ...
3                B011         1160  ...
4                B011         1160  ...
..                ...          ...  ...
995              0060         1750  ...
996              B097         1290  ...
997              0011         1370  ...
998              B087         1370  ...
999              B105         1370  ...

                                   type_local surface_reelle_bati  \
0                                 Appartement                  50
1                                                               0
2                                                               0
3                                                               0
4    Local industriel. commercial ou assimilé                   0
..                                        ...                 ...
995                               Appartement                  97
996                                                             0
997                                    Maison                 170
998                                                             0
999                                                             0

     nombre_pieces_principales code_nature_culture nature_culture  \
0                            2
1                            0                   L         landes
2                            0                   L         landes
3                            0                   L         landes
4                            0                   S           sols
..                         ...                 ...            ...
995                          5
996                          0                   S           sols
997                          4                   S           sols
998                          0                   T         terres
999                          0                   T         terres

    code_nature_culture_speciale nature_culture_speciale  surface_terrain  \
0                                                                       0
1                                                                    1486
2                                                                    3904
3                                                                    1779
4                                                                     838
..                           ...                     ...              ...
995                                                                     0
996                                                                   206
997                                                                   929
998                                                                 28462
999                                                                 61522

    longitude   latitude
0    4.840606  46.304486
1    5.322464  46.041159
2    5.317038  46.033713
3    5.324177  46.041343
4    5.323666  46.040803
..        ...        ...
995  4.841760  46.309896
996  4.840011  46.229792
997  5.297084  46.286617
998  5.267921  46.308658
999  5.271949  46.307002

[1000 rows x 40 columns]

In [10]:
print(dloading.show_tables())

     TABLE_NAME
0          data
1   data_maison
2  data_working

In [12]:
print(dloading.get_random_rows('data',1000))

      id_mutation date_mutation  numero_disposition  \
0     2016-426536    2016-02-18                   1
1     2019-772366    2019-01-10                   1
2     2016-372530    2016-07-13                   1
3     2016-886252    2016-06-24                   1
4    2017-1277990    2017-07-24                  20
..            ...           ...                 ...
995   2019-988822    2019-03-27                   1
996  2019-1383135    2019-12-16                   1
997   2017-571845    2017-04-13                   1
998   2020-335364    2020-05-18                   2
999   2018-529915    2018-07-23                   1

                        nature_mutation  valeur_fonciere  adresse_numero  \
0                                 Vente           190000              10
1                                 Vente           124688             166
2                                 Vente           170000               1
3                                 Vente           114300             203
4                               Echange              440               0
..                                  ...              ...             ...
995  Vente en l'état futur d'achèvement           204670              50
996                               Vente           188000              18
997  Vente en l'état futur d'achèvement           121164              42
998                             Echange             6000               0
999                               Vente           140000               3

    adresse_suffixe       adresse_nom_voie adresse_code_voie  code_postal  \
0                        CHEM DE BALMOUTOU              0006        34600
1                        RUE DE LA PICOTTE              0470        54230
2                              RUE BERGEON              0860        33800
3                    RUE FRANCOIS DESCOTES              1470        73000
4                       LA VAL DES COMBLES              B052        91510
..              ...                    ...               ...          ...
995                  AV PIERRE BROSSOLETTE              1375        69500
996                   RUE EDOUARD VAILLANT              3115        93140
997                    BD DE LA REPUBLIQUE              1900        40000
998                        LA ROCHE GAUDIN              B156        35420
999                          IMP DU CHENIL              0021        37460

     ...   type_local surface_reelle_bati  nombre_pieces_principales  \
0    ...       Maison                 112                          5
1    ...       Maison                  64                          3
2    ...  Appartement                  40                          2
3    ...  Appartement                  56                          2
4    ...                                0                          0
..   ...          ...                 ...                        ...
995  ...                                0                          0
996  ...   Dépendance                   0                          0
997  ...  Appartement                  43                          2
998  ...                                0                          0
999  ...       Maison                  93                          5

    code_nature_culture   nature_culture code_nature_culture_speciale  \
0                     S             sols
1                     S             sols
2                     S             sols
3
4                    BT  taillis simples
..                  ...              ...                          ...
995
996
997
998                  BT  taillis simples
999                  VE          vergers                        PLVEN

    nature_culture_speciale  surface_terrain longitude   latitude
0                                        781  3.102900  43.624908
1                                        190  6.099449  48.617637
2                                         50 -0.569845  44.829795
3                                          0  5.914060  45.576055
4                                        292  2.266715  48.512420
..                      ...              ...       ...        ...
995                                        0  4.918843  45.744176
996                                        0  2.478870  48.896001
997                                        0 -0.500927  43.887300
998                                     2300 -1.174565  48.466613
999   Vergers de plein vent             2180  1.193755  47.155706

[1000 rows x 40 columns]