In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df2016=pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2016/full.csv.gz')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,12,14,16,17,18,20,22,24,26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df2016.head()

  id_mutation date_mutation  ...  longitude   latitude
0      2016-1    2016-01-08  ...   4.840606  46.304486
1      2016-2    2016-01-11  ...   5.322464  46.041159
2      2016-2    2016-01-11  ...   5.317038  46.033713
3      2016-2    2016-01-11  ...   5.324177  46.041343
4      2016-2    2016-01-11  ...   5.323666  46.040803

[5 rows x 40 columns]

In [4]:
df2016.isnull().sum().sort_values(ascending=False)/len(df2016)

lot5_surface_carrez             0.999781
lot4_surface_carrez             0.999504
lot5_numero                     0.998241
lot3_surface_carrez             0.997997
lot4_numero                     0.996311
numero_volume                   0.995908
ancien_id_parcelle              0.989239
lot3_numero                     0.989143
lot2_surface_carrez             0.979570
ancien_nom_commune              0.968565
ancien_code_commune             0.968565
adresse_suffixe                 0.958103
code_nature_culture_speciale    0.952669
nature_culture_speciale         0.952669
lot2_numero                     0.934833
lot1_surface_carrez             0.918839
lot1_numero                     0.697447
surface_reelle_bati             0.599856
nombre_pieces_principales       0.460139
code_type_local                 0.459274
type_local                      0.459274
adresse_numero                  0.427656
surface_terrain                 0.306814
code_nature_culture             0.306795
nature_culture                  0.306795
latitude                        0.038398
longitude                       0.038398
valeur_fonciere                 0.012464
code_postal                     0.007993
adresse_nom_voie                0.007940
adresse_code_voie               0.007930
id_parcelle                     0.000000
code_departement                0.000000
nom_commune                     0.000000
code_commune                    0.000000
nombre_lots                     0.000000
nature_mutation                 0.000000
numero_disposition              0.000000
date_mutation                   0.000000
id_mutation                     0.000000
dtype: float64