In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df1=pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2019/full.csv.gz')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,12,14,16,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df1.head()

  id_mutation date_mutation  ...  longitude   latitude
0      2019-1    2019-01-04  ...   5.209578  46.198844
1      2019-2    2019-01-04  ...   5.219438  46.198784
2      2019-2    2019-01-04  ...   5.219438  46.198784
3      2019-3    2019-01-08  ...   5.282085  45.999533
4      2019-4    2019-01-07  ...   5.299919  46.293275

[5 rows x 40 columns]