In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df2017=pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2017/full.csv.gz')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,12,14,16,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df2017.head()

  id_mutation date_mutation  ...  longitude   latitude
0      2017-1    2017-01-02  ...   5.234420  46.206151
1      2017-2    2017-01-05  ...   5.203425  46.176104
2      2017-3    2017-01-06  ...   4.975854  46.277352
3      2017-3    2017-01-06  ...   4.975616  46.277595
4      2017-3    2017-01-06  ...   4.975464  46.276790

[5 rows x 40 columns]

In [5]:
df2017.isnull().sum().sort_values(ascending=False)/len(df2017)

lot5_surface_carrez             0.999778
lot4_surface_carrez             0.999482
lot5_numero                     0.998229
lot3_surface_carrez             0.998034
numero_volume                   0.997387
lot4_numero                     0.996275
ancien_id_parcelle              0.993790
lot3_numero                     0.989158
ancien_nom_commune              0.982566
ancien_code_commune             0.982566
lot2_surface_carrez             0.979812
adresse_suffixe                 0.956971
code_nature_culture_speciale    0.954954
nature_culture_speciale         0.954954
lot2_numero                     0.934487
lot1_surface_carrez             0.917673
lot1_numero                     0.683789
surface_reelle_bati             0.588879
nombre_pieces_principales       0.446581
code_type_local                 0.445794
type_local                      0.445794
adresse_numero                  0.412609
surface_terrain                 0.319159
code_nature_culture             0.319145
nature_culture                  0.319145
latitude                        0.029522
longitude                       0.029522
valeur_fonciere                 0.013402
code_postal                     0.009017
adresse_nom_voie                0.008916
adresse_code_voie               0.008902
id_parcelle                     0.000000
code_departement                0.000000
nom_commune                     0.000000
code_commune                    0.000000
nombre_lots                     0.000000
nature_mutation                 0.000000
numero_disposition              0.000000
date_mutation                   0.000000
id_mutation                     0.000000
dtype: float64

In [6]:
df2017.shape

(3382812, 40)