In [1]:
#Load Libraries and Create engine Connection

import pymysql
import pandas as pd
import numpy as np
import sqlalchemy
import gc
engine =sqlalchemy.create_engine(
        sqlalchemy.engine.url.URL.create(
        drivername="mysql+pymysql",
        username='Estimators',  # e.g. "my-database-user"
        password='Estimator2021',  # e.g. "my-database-password"
        host='34.77.88.127',  # e.g. "127.0.0.1"
        port=3306,  # e.g. 3306
        database='Housing_France',  # e.g. "my-database-name"
    ))

conn = engine.connect().execution_options(stream_results=True)

In [3]:
#Load Libraries and Create engine Connection

import pymysql
import pandas as pd
import numpy as np
import sqlalchemy
import gc



def get_data(querystring,chunk):
    engine =sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL.create(
    drivername="mysql+pymysql",
    username='Estimators',  # e.g. "my-database-user"
    password='Estimator2021',  # e.g. "my-database-password"
    host='34.77.88.127',  # e.g. "127.0.0.1"
    port=3306,  # e.g. 3306
    database='information_schema',  # e.g. "my-database-name"
    ))
    conn = engine.connect().execution_options(stream_results=True)
    frame = pd.DataFrame()
    for chunk_dataframe in pd.read_sql(
            querystring, conn, chunksize=chunk):
            print(f"Got dataframe w/{len(chunk_dataframe)} rows")
            frame= frame.append(chunk_dataframe)
            # ... do something with dataframe ...
            
    return frame

In [6]:
#Template for getting some data
df = get_data("""SELECT * FROM information_schema.tables where TABLE_SCHEMA = 'Housing_France'""", 100)

Got dataframe w/3 rows

In [7]:
df

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE,ENGINE,VERSION,ROW_FORMAT,TABLE_ROWS,AVG_ROW_LENGTH,DATA_LENGTH,...,INDEX_LENGTH,DATA_FREE,AUTO_INCREMENT,CREATE_TIME,UPDATE_TIME,CHECK_TIME,TABLE_COLLATION,CHECKSUM,CREATE_OPTIONS,TABLE_COMMENT
0,def,Housing_France,data,BASE TABLE,InnoDB,10,Dynamic,29220,197,5783552,...,0,9437184,None,2021-08-24 18:48:26,None,None,utf8_general_ci,None,,
1,def,Housing_France,data_maison,BASE TABLE,InnoDB,10,Dynamic,0,0,16384,...,0,0,None,2021-08-25 08:55:48,None,None,utf8_general_ci,None,,
2,def,Housing_France,data_working,BASE TABLE,InnoDB,10,Dynamic,0,0,16384,...,0,0,None,2021-08-25 06:28:29,None,None,utf8_general_ci,None,,

In [ ]:
#Replace all the blank rows with np.NaN

for i in df.columns:
    df[i].replace(r'', np.nan, regex=True, inplace= True)

In [ ]:
#Some Preprocessing
df2 = df.copy()
df2 = df2[df2['type_local']. notna()]
df2 = df2[df2['id_mutation']!= 'id_mutation']
df2 = df2[df2['type_local']== 'Maison']
columns = ['ancien_nom_commune','ancien_id_parcelle','ancien_code_commune','lot5_surface_carrez','lot4_surface_carrez','lot5_numero'
            ,'lot3_surface_carrez', 'numero_volume','lot4_numero','lot3_numero','adresse_suffixe']
df2.drop(columns=columns, inplace=True)

In [ ]:
df.shape